<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<main>
		<h1>Login</h1>
		<form action="/user/login" method="post">
			<fieldset><label for="username">Username</label><input id="username" name="username" type="text"></fieldset>
			<fieldset><label for="password">Password</label><input id="password" name="password" type="password"></fieldset>
			
			<button>login</button>
		</form>

	</main>

</body>
</html>