<%- include ../partials/header.ejs %>
	<main class="columns">
		
		<form action="/user/login" method="post" class="column is-half is-offset-quarter">
			<fieldset>
				<legend><h1>Login</h1></legend>

				<label for="username" class="label">Username</label><input id="username" name="username" type="text" class="input">
				<label for="password" class="label">Password</label><input id="password" name="password" type="password" class="input"></fieldset>
			
			<button class="button">login</button>
		</form>

	</main>
<%- include ../partials/footer.ejs %>