<%- include ../partials/header.ejs %>
<main>
	<form action="/user/register" method="post" class="column is-half is-offset-quarter">

		<fieldset>
			<legend><h1>register</h1></legend>
			<label for="username" class="label">Username</label><input id="username" name="username" type="text" class="input">
			<label for="password" class="label">Password</label><input id="password" name="password" type="password" class="input"></fieldset>
			<label for="confirm" class="label">Confirm Password</label><input id="confirm" type="password" class="input">
			<button class="button">Register</button>
		</fieldset>
		
	</form>
</main>
<%- include ../partials/footer.ejs %>